* {
  box-sizing: border-box;
}

body {
  font: 14px/1.4em;
  font-family: 'Albert Sans', sans-serif;
  margin: none;
}

nav {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: mediumseagreen;
  color: white;
  font-size: 2rem;
  height: 50px;
  margin-bottom: 5px;
}

.nav-title {
  
}

.title-first {

}

.title-second {
  color: black;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  display: none;
}

.main-content {
  margin: 0px auto;
  max-width: 900px;
}

.about {
  margin: 24px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.projects-section {
  display: flex;
  flex-direction: column;
  margin: 2px;
  flex-wrap: wrap;
}

.projects-section-title {
  margin-bottom: 10px;
}

.project-container {
  flex: 1;
  margin: 2px;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.project-image {
  
}
.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}
.project-content p {
  
}

.contact-container {
  max-width: 900px;
}

.contact-content {

}

button {
  border: 1px white solid;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0px 5px;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: mediumseagreen;
  cursor: pointer;
}

footer {
  background-color: mediumseagreen;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .projects-section {
    flex-direction: row;
  }
  .nav-content {
    display: flex;
  }
}