* {
  box-sizing: border-box;
}

body {
  font: 14px/1.4em;
  font-family: 'Albert Sans', sans-serif;
  margin: none;
}

nav {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: rgba(158, 72, 239, 0.821);
  color: white;
  font-size: 2rem;
  height: 50px;
  margin-bottom: 5px;
}

.nav-title {
  display: flex;
}

.title-first {
  color: white;
  margin: 0;
}

.title-second {
  color: black;
  margin: 0;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  display: none;
}

.section-title {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(158, 72, 239, 0.821);
  border-bottom: 10px double rgb(239, 145, 30);
  margin-bottom: 10px;
}

.main-content {
  margin: 0px auto;
  max-width: 900px;
}

.about-content {
  color: rgb(110, 110, 110);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 5px;
}

.image-placeholder {
  background-color: lightgray;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 5px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.section-container {
  margin: 24px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-container {
  flex: 1;
  margin: 2px;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
  color: rgba(158, 72, 239, 0.821);
}
.project-content p {
  color: rgb(110, 110, 110);
}

.contact-container {
  max-width: 900px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.contact-content {
  color: rgb(110, 110, 110);
}

button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0px 5px;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: rgba(158, 72, 239, 0.821);
  cursor: pointer;
}

footer {
  background-color: rgba(158, 72, 239, 0.821);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .projects-section {
    flex-direction: row;
  }
  .nav-content {
    display: flex;
  }
  .contact-container {
    flex-direction: row;
    align-items: center;
  }
}